@{
    ViewBag.Title = "Investigação";
}


<div class="jumbotron jumbotron-custom">
    <h1>@ViewBag.Title.</h1>
    <h3>
        Forneça uma teoria sobre quem é o assassino, escolha abaixo um suspeito, onde foi local do crime e qual a arma usada.
    </h3>
    <h4>
        <br>A testemunha sempre indicará qual resposta esta incorreta, mas indicará apenas uma delas por vez.
        <br>Quando ela aponta o número 1, sua primeira resposta esta errada, 2 a segunda, 3 a terceira.
        <br>Se você acertar todas ela mostrará o número 0, indicando que você venceu.
    </h4>
    <a class="btn btn-default" id="BotaoResolver" href="#">Tentar resolver &raquo;</a>

    <div class="row">
        <div class="col-md-4">
            <h2><strong>Suspeitos</strong></h2>
            <div id="myCarousel1"
                 class="carousel slide carousel-custom"
                 data-ride="carousel">


                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @for (int i = 0; i < (ViewBag.Suspeitos as object[]).Count(); i++)
                    {
                        <div class="item div-corousel@(i == 0 ? " active" : "")">
                            <div class="carousel-caption carousel-caption-custom">
                                <p>@ViewBag.Suspeitos[i].Nome</p>
                                <img src="@ViewBag.Suspeitos[i].Image" alt="@ViewBag.Suspeitos[i].Nome" style="width: 350px; height: 250px;">
                            </div>
                        </div>
                    }
                </div>
                <br>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @for (int i = 0; i < (ViewBag.Suspeitos as object[]).Count(); i++)
                    {
                        <li data-target="#myCarousel1" data-slide-to="@i" @Html.Raw(i == 0 ? "class='active'" : "")></li>
                    }
                </ol>


                <!-- Left and right controls -->
                <a class="left carousel-control carousel-control-left-custom" href="#myCarousel1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-right-custom" href="#myCarousel1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br>
            <br>
        </div>


        <div class="col-md-4">
            <h2><strong>Locais</strong></h2>
            <div id="myCarousel2" class="carousel slide carousel-custom" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @for (int i = 0; i < (ViewBag.Locais as object[]).Count(); i++)
                    {
                    <div class="item div-corousel@(i == 0 ? " active" : "")">
                        <div class="carousel-caption carousel-caption-custom">
                            <p>@ViewBag.Locais[i].Nome</p>
                            <img src="@ViewBag.Locais[i].Image" alt="@ViewBag.Locais[i].Nome" style="width: 350px; height: 250px;">
                        </div>
                    </div>
                    }
                </div>
                <br>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @for (int i = 0; i < (ViewBag.Locais as object[]).Count(); i++)
                    {
                        <li data-target="#myCarousel2" data-slide-to="@i" @Html.Raw(i == 0 ? "class='active'" : "")></li>
                    }
                </ol>


                <!-- Left and right controls -->
                <a class="left carousel-control carousel-control-left-custom" href="#myCarousel2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-right-custom" href="#myCarousel2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br>
            <br>
        </div>


        <div class="col-md-4">
            <h2><strong>Armas</strong></h2>
            <div id="myCarousel3" class="carousel slide carousel-custom" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @for (int i = 0; i < (ViewBag.Armas as object[]).Count(); i++)
                    {
                        <div class="item div-corousel@(i == 0 ? " active" : "")">
                            <div class="carousel-caption carousel-caption-custom">
                                <p>@ViewBag.Armas[i].Nome</p>
                                <img src="@ViewBag.Armas[i].Image" alt="@ViewBag.Armas[i].Nome" style="width: 350px; height: 250px;">
                            </div>
                        </div>
                    }
                </div>
                <br>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @for (int i = 0; i < (ViewBag.Locais as object[]).Count(); i++)
                    {
                        <li data-target="#myCarousel3" data-slide-to="@i" @Html.Raw(i == 0 ? "class='active'" : "")></li>
                    }
                </ol>


                <!-- Left and right controls -->
                <a class="left carousel-control carousel-control-left-custom" href="#myCarousel3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-right-custom" href="#myCarousel3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <br>
            <br>
        </div>
    </div>
</div>


<div id="result" class="result-painel">

    <div class="venceu venceu-principal">
        <div class="assassino-label-sucesso">Assassino</div>
        <div id="suspeito" class="assassino-sucesso"></div>
        <div class="arma-label-sucesso">arma usada</div>
        <div id="arma" class="arma-sucesso"></div>
        <div class="local-label-sucesso">local do crime</div>
        <div id="local" class="local-sucesso"></div>
    </div>
    <div>
        <img src="../Resources/Orc.jpg" class="image-numero" />
        <div id="cartao" class="cartao-numero"></div>
        <div class="venceu venceu-mensagem">
            <span class="venceu-parabens">Parabens! Você desvendou o crime!</span>
            <br>
            @Html.ActionLink("Clique aqui para iniciar outra investigação >>", "Investigation", "Home", new { @class = "btn btn-default btn-lg", @onClick = "$('#result').hide();" })
        </div>
        <div id="tentarnovamente" class="tentar-novamente">
            <a class="btn btn-default btn-lg" onclick="$('#result').hide();">Clique aqui para tentar novamente >></a>
        </div>

    </div>
</div>